html{
    box-sizing: border-box
}

*{
    margin: 0;
    padding: 0;
}

.contenedor {
    width: 80%;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.login {
    margin: 15px;
    width: 50px;
    font-size: 25px;
}
#boton{
    background-color: rgb(221, 211, 211);
    border-radius: 5px;
    border: 1px solid rgba(223, 207, 207, 0);
    font-size: 20px;
}
#contraseña{
    height: 18px;
    color: #666;
    border: 1px solid #ddd;
    padding: 5px;
}
#usuario{
    height: 18px;
    color: #666;
    border: 1px solid #ddd;
    padding: 5px;
}
@media only screen and (max-width: 480px) 
{
        .contenedor {
        width: 50%;
        padding: 20px;
        display: flex;
    }

    .login {
        margin: 30px;
        width: 50px;
        font-size: 25px;
    }
    #boton{
        background-color: rgb(221, 211, 211);
        border-radius: 5px;
        border: 1px solid rgba(223, 207, 207, 0);
        font-size: 25px;
    }
    #contraseña{
        height: 30px;
    }
    #usuario{
        height: 30px;
    }
    img{
        width: 360%;
}
}