html{
    box-sizing: border-box
}

*{
    margin: 0;
    padding: 0;
}

.contenedor {
    width: 1200px;
    max-width: 1200px;
    padding: 10px;
    display: flex;
    justify-content: center;
}
img{
    max-width: 300%;
}
.mar-top-15{
    margin-top: 15px;
}
.login-text {
    font-size: 25px;
    display: block;
}
.boton{
    background-color: rgb(221, 211, 211);
    border-radius: 5px;
    border: 1px solid rgba(223, 207, 207, 0);
    font-size: 20px;
}
.input-text{
    height: 18px;
    color: #666;
    border: 1px solid #ddd;
    padding: 5px;
}

@media only screen and (max-width: 480px) 
{
    .contenedor {
        width: 100%;
       padding: 0 ;
    }

    .login-text {
        font-size: 40px;
        display: block;
    }
    .mar-top-15{
        margin-top: 30px;
    }
    .boton{
        background-color: rgb(221, 211, 211);
        border-radius: 5px;
        border: 1px solid rgba(223, 207, 207, 0);
        font-size: 25px;
    }
    
    .input-text{
        height: 30px;
    }
    img{
        width: 100%;
}
}